.cms-element-manufacturer-header {
  background-color: $light;
  --banner-color: #{$dark};

  .moorl-manufacturer-banner {
    background-color: var(--banner-color);
    min-height: 185px;

    img {
      width: 100%;
      height: 320px;
      object-fit: cover;
    }
  }

  .moorl-manufacturer-avatar {
    margin-top: -165px;
    margin-bottom: 20px;
    background-color: $white;
    padding: 10px;
    border-radius: 50%;

    img {
      width: 320px;
      height: 320px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .moorl-manufacturer-title {
    margin-top: 20px;
  }

  .moorl-manufacturer-role {
    font-weight: 400;
    color: $text-muted;
    font-size: 14px;
  }

  .moorl-manufacturer-description {
    margin-bottom: 20px;
  }

  .moorl-manufacturer-actions {
    margin-bottom: 20px;
  }
}
