<div class="sw-cms-el-manufacturer-header">
    <div class="moorl-manufacturer-banner">
        <img :src="manufacturerBannerUrl">
    </div>

    <div class="row">
        <div class="col-auto">
            <div class="moorl-manufacturer-avatar">
                <img :src="manufacturerAvatarUrl">
            </div>
        </div>

        <div class="col">
            <h1 class="moorl-manufacturer-title">
                <span>{{ manufacturerName }}</span>
            </h1>
            <div class="moorl-manufacturer-description">{{ manufacturerDescription }}</div>
        </div>
    </div>
</div>
